/* You can add global styles to this file, and also import other style files */

$Navy         : #113065;
$LightNavy    : #30528e;
$LightestNavy : #5c8bad;
$Slate        : #bdc6e0;
$LightSlate   : #b2bbd6;
$LightestSlate: #d9e1f6;
$White        : #e6f1ff;
$Green        : #5cb0ec;
$GreenOpacity : rgba(86, 238, 203, 0.07);

$MainFont: Calibre,San Francisco,SF Pro Text,-apple-system,system-ui,BlinkMacSystemFont,Roboto,Helvetica Neue,Segoe UI,Arial,sans-serif;
$CodeFont: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, Monospace;
